<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="description" content="コリサカは、世界のサッカー選手名鑑サイトです。" />
<meta name="keywords" content="コリサカ,サッカー,イングランド,スペイン,イタリア,ドイツ,選手名鑑" />
<link rel="icon" href="images/favicon.png" type="image/png" sizes="16x16" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/common.css}" href="css/common.css" />
<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}" href="css/style.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" th:src="@{/resources/js/script.js}" src="js/script.js"></script>
<!--[if IE]><script type="text/javascript" th:src="@{/resources/js/ie.js}" src="js/ie.js"></script><![endif]-->
<title>マンチェスター・シティ｜プレミアリーグ｜コリサカ</title>
</head>
<body class="club">

<!-- 各サイト共通バー -->
<div id="common" th:replace="layout::header-nav"></div>

<!-- コリサカ ここから -->
<div id="container">
	<header id="header" th:replace="layout::header"></header>
	<div id="content" class="cf">
		<div class="crumb"><a href="#">ホーム</a><span>&gt;</span><a th:href="@{__${WEBSITE_PATH}__/league/__${league.id}__}" th:text="${league.name}">11/12 プレミアリーグ</a><span>&gt;</span><span th:text="${club.nameJa}">マンチェスター・シティ</span></div>
		<div class="main">
			<h1 class="cf"><img th:src="@{/resources/images/ENG/sbl-__${club.nameAbbr}__.png}" src="images/ENG/sbl-manchester_city.png" alt="" width="50" height="50" /><strong><span th:text="${club.nameJa}">マンチェスター・シティ</span></strong><br/><span><span th:text="${club.name}">Manchester City</span></span></h1>
			<div class="about cf">
				<div class="pic">
					<img th:src="@{/resources/images/ENG/pic-__${club.nameAbbr}__.jpg}" src="images/ENG/pic-manchester_city.jpg" alt="" />
					<p>スタジアム風景</p>
				</div>
				<div class="profile">
					<h2>チームプロフィール</h2>
					<table border="0" cellpadding="0" cellspacing="0">
						<tr>
							<th>設立年月日</th>
							<td th:text="${club.establishment} + '年'">1880年</td>
						</tr>
						<tr>
							<th>愛称</th>
							<td th:text="${club.petname}">シティズンズ/Citizens</td>
						</tr>
						<tr>
							<th>スタジアム</th>
							<td th:text="${club.changeMemo}">シティ・オブ・マンチェスター・スタジアム/City of Manchester Stadium</td>
						</tr>
						<tr>
							<th>基本フォーメーション</th>
							<td>データなし</td>
						</tr>
						<tr>
							<th>Webサイト</th>
							<td><a href="http://www.mcfc.co.uk" th:href="${club.url}" target="_blank">http://www.mcfc.co.uk</a></td>
						</tr>
						<tr>
							<th>備考</th>
							<td th:text="${club.etc}"></td>
						</tr>
					</table>
					<p class="test">Google Adsense 設置スペース</p>
				</div>
			</div>
			<div class="first">
				<h2>1stチーム</h2>
				<table border="0" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th class="num">背番号</th>
							<th class="name">名前</th>
							<th class="country">国籍</th>
							<th class="birth">生年月日</th>
							<th class="size">身長/体重</th>
						</tr>
					</thead>
					<tr>
						<th colspan="5" class="gk">GK</th>
					</tr>
					<tr>
						<td class="num">1</td>
						<td class="name"><a href="player.html">ステュアート・テイラー</a></td>
						<td class="country"><img th:src="@{/resources/images/}" alt="" src="images" />イングランド</td>
						<td class="birth">1980年10月10日</td>
						<td class="size">180cm / 80kg</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th colspan="5" class="df">DF</th>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th colspan="5" class="mf">MF</th>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th colspan="5" class="fw">FW</th>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="side">
			<aside class="aside">
				<h2>その他クラブ一覧</h2>
				<div class="book cf">
					<a href="#"><img th:src="@{/resources/images/shop/banner-book01.png}" src="images/shop/banner-book01.png" alt="" /></a>
					<p><a href="#">欧州クラブサッカー解体新書1995～2005</a></p>
					<p>詳細なスタッツやフォーメーション図から欧州クラブサッカーの10年史を読み解く。</p>
				</div>
				<div class="book cf">
					<a href="#"><img th:src="@{/resources/images/shop/banner-book02.png}" src="images/shop/banner-book02.png" alt="" /></a>
					<p><a href="#">世界73カ国代表サッカー解体新書1978～2005</a></p>
					<p>世界73カ国の「代表チーム」を分析した超精密サッカーデータブック。</p>
				</div>
			</aside>
			<aside class="aside">
				<h2>その他リーグ一覧</h2>
				<ul class="list_league">
					<li class="cf"><img th:src="@{/resources/images/ENG/sbl-league_mini.png}" src="images/ENG/sbl-league_mini.png" alt="" /><p><a href="league.html">プレミアリーグ</a><span>（イングランド）</span></p></li>
					<li class="cf"><img th:src="@{/resources/images/ESP/sbl-league_mini.png}" src="images/ESP/sbl-league_mini.png" alt="" /><p><a href="league.html">リーガ・エスパニョーラ</a><span>（スペイン）</span></p></li>
					<li class="cf"><img th:src="@{/resources/images/ITA/sbl-league_mini.png}" src="images/ITA/sbl-league_mini.png" alt="" /><p><a href="league.html">セリエA</a><span>（イタリア）</span></p></li>
					<li class="cf"><img th:src="@{/resources/images/GER/sbl-league_mini.png}" src="images/GER/sbl-league_mini.png" alt="" /><p><a href="league.html">ブンデスリーガ</a><span>（ドイツ）</span></p></li>
				</ul>
			</aside>
			<aside class="aside">
				<p class="test">Google Adsense 表示スペース</p>
			</aside>
		</div>
	</div>
</div>
<footer id="footer" th:replace="layout::footer"></footer>
</body>
</html>
