/* CSS Document */


.icon-32-import	{
	background-image:url(../images/icon-32-import.png);
}

span.label	{
	float:left;
	margin: 5px 5px 5px 0;
}

span.loading	{
	display:none;
	width:16;
	height:16;
	background:url(../images/loading.gif) top left no-repeat;
}
.icon-48-hexdata {
	background-image:url(../images/icon-48-hexdata.png);
}
.pane-sliders .content {
	padding:10px !important;
}
.icon-48-profiles {
	background-image:url(../images/icon-48-profiles.png) !important;
}

.icon-48-import {
	background-image:url(../images/icon-48-import.png) !important;
}