<!DOCTYPE html>
<html th:lang="${#locale.language}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keywords" th:content="${#posts.metaKeywords(article)}" />
		<meta name="description" th:content="${#posts.metaDescription(article)}" />
		<meta name="author" th:content="${#posts.metaAuthor(article)}" />
		<meta property="og:site_name" th:content="${#posts.ogSiteName(article)}"/>
		<meta property="og:title" th:content="${#posts.ogTitle(article)}"/>
		<meta property="og:url" th:content="${#posts.ogUrl(article)}" />
		<meta property="og:image" th:if="${#posts.ogImage(article)}" th:content="${#posts.ogImage(article)}" />
		<meta property="og:type" th:content="${#posts.ogType(article)}"/>
		<title th:text="${#posts.title(article)}"></title>
		<link th:replace="layout::head-link" />
		<script th:replace="layout::head-script"></script>
	</head>
	<body>
		<!-- header -->
		<header th:replace="layout::header"></header><!-- /header -->
		<!-- .top -->
		<div class="top">
			<div class="container">
				<ol class="breadcrumb">
					<li><a th:href="@{/}">TOP</a></li>
					<li th:if="${!#lists.isEmpty(article.categories)}"><a th:href="@{__${WEBSITE_PATH}__/category/__${article.categories[0].code}__}" th:text="${article.categories[0].name}"></a></li>
					<li class="active" th:text="${article.title}">日本酒の本質</li>
				</ol>
			</div>
		</div><!-- /.top -->
		<div class="obi-nami-bottom"></div>

		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<article class="post-content" th:classappend="${!#lists.isEmpty(article.categories) ? 'article-' + article.categories[0].code : ''}">
							<h3><img class="title title-news" th:src="@{/resources/img/space.gif}" alt="最新ニュース"/></h3>
							<h2 class="article-title"><span th:text="${article.title}"></span>&nbsp;</h2>
							<p class="date" th:text="${article.date.toString('yyyy/MM/dd')}"></p>
							<img th:if="${article.cover ne null}" th:src="@{${#medias.link(article.cover)}(w=1200,h=500,m=1)}" class="post-cover" />
							<p th:utext="${#posts.body(article)}"></p>
						</article>
					</div>
					<div class="col-sm-3">
						<div class="sidebar">
							<div th:replace="layout::side-movie"></div>
							<div th:replace="layout::side-banner"></div>
						</div><!-- /.sidebar -->
					</div>
				</div>
			</div>
		</div>
		<div th:replace="layout::footer" class="footer"></div><!-- /.footer -->
	</body>
</html>
