<!DOCTYPE html>
<html th:lang="${#locale.language}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keywords" th:content="${WEBSITE_SEO_KEYWORDS} ? ${WEBSITE_SEO_KEYWORDS} : ${WEBSITE_TITLE}" />
		<meta name="description" th:content="${WEBSITE_SEO_DESCRIPTION} ? ${WEBSITE_SEO_DESCRIPTION} : ${WEBSITE_TITLE}" />
		<meta name="author" content="" />
		<meta property="og:site_name" th:content="${WEBSITE_TITLE}"/>
		<meta property="og:title" th:content="記事一覧"/>
		<meta property="og:url" th:content="@{__${WEBSITE_LINK}__}" />
		<!--//TODO-->
		<!--<meta property="og:image" th:if="${page.cover}" th:content="@{__${WEBSITE_LINK}__/media/__${page.cover.id}__}" />-->
		<meta property="og:type" content="article"/>
		<title>Sake JAPAN</title>
		<link th:replace="layout::head-link" />
		<script th:replace="layout::head-script"></script>
	</head>
	<body>
	<!-- header -->
	<header th:replace="layout::header"></header><!-- /header -->
	<!-- .top -->
	<div class="top">
		<div class="container">
			<ol class="breadcrumb">
				<li><a th:href="@{/}">TOP</a></li>
				<li class="active" th:text="${category.name}">Category Name</li>
			</ol>
		</div>
	</div><!-- /.top -->
	<div class="obi-nami-bottom"></div>

	<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-9" th:classappend="${code}">
						<h3 class="title-info"><img th:class="${'title-' + code}" th:src="@{/resources/img/space.gif}" alt="最新ニュース"/></h3>

						<article th:each="article : ${articles}">
							<time th:text="${article.date.toString('yyyy/MM/dd')}"></time>
							<h4><a th:href="@{__${WEBSITE_PATH}__/__${article.date.toString('yyyy/MM/dd')}__/__${article.code}__}"><span th:text="${article.title}"></span></a></h4>
						</article>
						<div class="pagination-group clearfix" th:if="${paginator}">
							<div class="pull-left pagination-summary"><span th:text="${paginator.start}"></span> - <span th:text="${paginator.end}"></span> / <span th:text="${paginator.total}"></span></div>
							<ul class="pagination paginateon-sm">
								<li th:classappend="${paginator.hasPrevious() ? '' : 'disabled'}"><a th:href="${paginator.hasPrevious()} ? @{__${WEBSITE_PATH}__/category/__${category.code}__(page=${paginator.previousNumber},token=${token})} : '#'">&laquo;</a></li>
								<li th:each="no : ${paginator.numbers}" th:classappend="${paginator.number eq no ? 'active' : ''}"><a th:href="@{__${WEBSITE_PATH}__/category/__${category.code}__(page=${no},token=${token})}" th:text="${no}"></a></li>
								<li th:classappend="${paginator.hasNext() ? '' : 'disabled'}"><a th:href="${paginator.hasNext()} ? @{__${WEBSITE_PATH}__/category/__${category.code}__(page=${paginator.nextNumber},token=${token})} : '#'">&raquo;</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="sidebar">
							<div class="well center">
								<ul class="nav">
									<li class="panel-title open" th:text="#{Archive}">アーカイブ</li>
									<li th:each="article : ${articleCountsByYear}">
										<a th:href="@{__${WEBSITE_PATH}__/category/__${code}__(year=${article.get('year')})}" th:text="${#locale.language ne 'ja'} ? ${article.get('year') + ' (' + article.get('count') + ')'} : ${article.get('year') + '年 (' + article.get('count') + ')'}"></a>
									</li>
								</ul>
							</div>
							<div th:replace="layout::side-movie"></div>
							<div th:replace="layout::side-banner"></div>
						</div><!-- /.sidebar -->
					</div>
				</div>
			</div>
	</div>
	<div th:replace="layout::footer" class="footer"></div><!-- /.footer -->
	</body>
</html>
