<!DOCTYPE html>
<html th:lang="${#locale.language}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keywords" th:content="${WEBSITE_SEO_KEYWORDS} ? ${WEBSITE_SEO_KEYWORDS} : ${WEBSITE_TITLE}" />
		<meta name="description" th:content="${WEBSITE_SEO_DESCRIPTION} ? ${WEBSITE_SEO_DESCRIPTION} : ${WEBSITE_TITLE}" />
		<meta name="author" content="" />
		<meta property="og:site_name" th:content="${WEBSITE_TITLE}"/>
		<meta property="og:title" th:content="${WEBSITE_TITLE}"/>
		<meta property="og:url" th:content="@{__${WEBSITE_LINK}__}" />
		<!--//TODO-->
		<!--<meta property="og:image" th:if="${page.cover}" th:content="@{__${WEBSITE_LINK}__/media/__${page.cover.id}__}" />-->
		<meta property="og:type" content="article"/>
		<title>Sake JAPAN</title>
		<link th:replace="layout::head-link" />
		<script th:replace="layout::head-script"></script>
		<style>
			@media (min-width: 1200px) {
				.full-slider .flexslider .slides {
					min-height: 300px;
				}
			}
		</style>
	</head>
	<body class="index">
		<!-- header -->
		<header th:replace="layout::header"></header><!-- /header -->
		<!-- .slider -->
		<div class="slider">
			<!-- .full-slider start -->
			<div class="full-slider" id="full-slider">
				<!-- .flexslider -->
				<div class="flexslider">
					<div class="container">
						<ul class="slides">
							<li th:each="banner : ${MAIN_BANNERS}">
								<a th:if="${banner.link ne null}" href="#" th:target="${banner.linkTargetBlank ? '_blank' : '_self'}" th:href="${banner.link}">
									<img th:src="@{__${WEBSITE_PATH}__/media/__${banner.image.id}__(w=1170)}" th:alt="${banner.title}" class="wr-post-cover" />
								</a>
								<img th:if="${banner.link eq null}" th:src="@{__${WEBSITE_PATH}__/media/__${banner.image.id}__(w=1170)}" th:alt="${banner.title}" class="wr-post-cover" />
							</li>
						</ul>
						<div class="mainimage-line-bottom"></div>
					</div>
				</div>
			</div>
			<!-- /.full-slider -->
			<!-- .banner-slider -->
			<div class="banner-slider" id="banner-slider">
				<div class="container">
					<div class="flexslider">
						<ul class="slides">
							<li th:each="banner : ${SUB_BANNERS}">
								<a th:if="${banner.link ne null}" href="#" th:target="${banner.linkTargetBlank ? '_blank' : '_self'}" th:href="${banner.link}">
									<img th:src="@{__${WEBSITE_PATH}__/media/__${banner.image.id}__(w=143)}" th:alt="${banner.title}" class="wr-post-cover" />
								</a>
								<img th:if="${banner.link eq null}" th:src="@{__${WEBSITE_PATH}__/media/__${banner.image.id}__(w=143)}" th:alt="${banner.title}" class="wr-post-cover" />
							</li>
						</ul>
					</div>
				</div>
			</div><!-- /.banner-slider -->
		</div><!-- /.slider -->
		<div class="obi-nami-bottom"></div>
		<!-- .content -->
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12 news">
								<h3 class="title-info"><img class="title-news" th:src="@{/resources/img/space.gif}" alt="最新ニュース"/>
									<span class="pull-right">
										<a th:href="@{__${WEBSITE_PATH}__/category/news}">
											<img class="link-list" th:src="@{/resources/img/space.gif}" alt="一覧へ"/>
										</a>
									</span>
								</h3>
								<ul>
									<li th:each="article : ${NEW_ARTICLES}"><a th:href="@{${#posts.path(article)}}"><span th:text="${article.date.toString('M月d日')} + '   ' + ${article.title}"></span></a></li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 sake">
								<h3><img class="title title-sake" th:src="@{/resources/img/space.gif}" alt="日本酒"/></h3>
								<div class="row">
									<div class="col-md-6">
										<section class="sake-learn">
											<h4><img class="title title-sake-learn" th:src="@{/resources/img/space.gif}" alt="知る・学ぶ"/></h4>
											<ul>
												<li th:each="child : ${PAGE_TREE.getNodeByCode('sake-learn').children}"><a th:href="@{${#posts.path(child.page, PAGE_TREE)}}" th:text="${child.page.title}">Page Title</a></li>
											</ul>
											<img th:src="@{/resources/img/space.gif}" class="image"/>
										</section>
									</div>
									<div class="col-md-6">
										<section class="sake-enjoy">
											<h4><img class="title title-sake-enjoy" th:src="@{/resources/img/space.gif}" alt="楽しむ"/></h4>
											<ul>
												<li th:each="child : ${PAGE_TREE.getNodeByCode('sake-enjoy').children}"><a th:href="@{${#posts.path(child.page, PAGE_TREE)}}" th:text="${child.page.title}">Page Title</a></li>
											</ul>
											<img th:src="@{/resources/img/space.gif}" class="image"/>
										</section>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 shochu">
								<h3><img class="title title-shochu" th:src="@{/resources/img/space.gif}" alt="焼酎"/></h3>
								<div class="row">
									<div class="col-md-6">
										<section class="shochu-learn">
											<h4><img class="title title-shochu-learn" th:src="@{/resources/img/space.gif}" alt="知る・学ぶ"/></h4>
											<ul>
												<li th:each="child : ${PAGE_TREE.getNodeByCode('shochu-learn').children}"><a th:href="@{${#posts.path(child.page, PAGE_TREE)}}" th:text="${child.page.title}">Page Title</a></li>
											</ul>
											<img th:src="@{/resources/img/space.gif}" class="image"/>
										</section>
									</div>
									<div class="col-md-6">
										<section class="shochu-enjoy">
											<h4><img class="title title-shochu-enjoy" th:src="@{/resources/img/space.gif}" alt="楽しむ"/></h4>
											<ul>
												<li th:each="child : ${PAGE_TREE.getNodeByCode('shochu-enjoy').children}"><a th:href="@{${#posts.path(child.page, PAGE_TREE)}}" th:text="${child.page.title}">Page Title</a></li>
											</ul>
											<img th:src="@{/resources/img/space.gif}" class="image"/>
										</section>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="sidebar">
							<div th:replace="layout::side-movie"></div>
							<div th:replace="layout::side-banner"></div>
						</div><!-- /.sidebar -->
					</div>
				</div>
			</div>
		</div><!-- /.content -->
		<div th:replace="layout::footer" class="footer"></div><!-- /.footer -->
	</body>
</html>