<!DOCTYPE html>
<html th:lang="${#locale.language}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="description" th:content="${WEBSITE_SEO_KEYWORDS} ? ${WEBSITE_SEO_KEYWORDS} : ${WEBSITE_TITLE}" />
		<meta name="keywords" th:content="${WEBSITE_SEO_DESCRIPTION} ? ${WEBSITE_SEO_DESCRIPTION} : ${WEBSITE_TITLE}" />
		<meta name="author" content="" />
		<meta property="og:site_name" th:content="${WEBSITE_TITLE}"/>
		<meta property="og:title" />
		<meta property="og:url" th:content="@{__${WEBSITE_LINK}__}" />
		<!--//TODO-->
		<!--<meta property="og:image" th:if="${page.cover}" th:content="@{__${WEBSITE_LINK}__/media/__${page.cover.id}__}" />-->
		<meta property="og:type" content="article"/>
		<title>Sake JAPAN</title>
		<link th:replace="layout::head-link" />
		<script th:replace="layout::head-script"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			function handleGoogleApiClientLoad() {
				gapi.client.setApiKey('AIzaSyD9Pstj8XqEuZ2A046pfQ8WvLnu8qWKJyo');
				gapi.client.load('youtube', 'v3', function() {
					var recommendRequest = gapi.client.youtube.search.list({
						channelId: 'UCtctsgjiKW4qH67M1TRFyQg', // takashi hashiguchi
						part: 'snippet',
						type: 'video',
						order: 'date'
					});
					recommendRequest.execute(function(response) {
						var request = gapi.client.youtube.videos.list({
							id: response.items[0].id.videoId,
							part: 'snippet'
						});
						request.execute(function(response) {
							var item = response.items[0];
							console.dir(item);
							var html = $(
								'<div class="col-md-6">' +
									'<div class="movie-box well washi">' +
										'<h3 class="movie-title">' +
											/*[+
											'<img class="title-movie" src="' + [[@{/resources/img/space.gif}]] + '" alt="酒TVおすすめ動画"/>' +
											+]*/
										'</h3>' +
										'<div class="box-youtube" style="padding-top: 56.25%;">' +
											'<iframe class="movie" src="http://www.youtube.com/embed/' + item.id + '?feature=player_detailpage" frameborder="0" allowfullscreen="allowfullscreen"></iframe>' +
										'</div>' +
									'</div>' +
								'</div>' +
								'<div class="col-md-6">' +
									'<h4>' + item.snippet.title + '</h4>' +
									'<pre>' + item.snippet.description + '</pre>' +
								'</div>'
							);
							$('#recommend').append(html);
						});
					});

					var channelRequests = {
						'channel1': gapi.client.youtube.search.list({
							channelId: 'UCwh1NeEwdfZ99PHFrz0hcXg', // NPOFBO
							part: 'snippet',
							type: 'video',
							order: 'date'
						}),
						'channel2': gapi.client.youtube.search.list({
							channelId: 'UCTnRxVUPssiL7H29ON07t_Q', // Google Japan
							part: 'snippet',
							type: 'video',
							order: 'date'
						}),
						'channel3': gapi.client.youtube.search.list({
							channelId: 'UCASliASL93lb8fdnpFiE3eQ', // Microsoft Japan
							part: 'snippet',
							type: 'video',
							order: 'date'
						})
					};
					$.each(channelRequests, function(key, value) {
						value.execute(function(response) {
							$.each(response.items, function(i, item) {
								var html = $(
									'<div class="link-movie clearfix">' +
										'<a href="http://www.youtube.com/watch?v=' + item.id.videoId + '" target="_blank">' +
											'<div class="row">' +
												'<div class="col-md-4">' +
													'<img class="img-responsive" src="' + item.snippet.thumbnails.medium.url + '" />' +
												'</div>' +
												'<div class="col-md-8">' +
													'<dl>' +
														'<dt style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">'+ item.snippet.title + '</dt>' +
														'<dd style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">'+ item.snippet.description + '</dd>' +
													'</dl>' +
												'</div>' +
											'</div>' +
										'</a>' +
									'</div>');
								$('#' + key + ' .videos').append(html);
							});
						});
					});
				});
			};
			/*]]>*/
		</script>
		<script src="https://apis.google.com/js/client.js?onload=handleGoogleApiClientLoad"></script>
	</head>
	<body>
		<!-- header -->
		<header th:replace="layout::header"></header><!-- /header -->
		<!-- .top -->
		<div class="top">
			<div class="container">
				<ol class="breadcrumb">
					<li><a href="#">TOP</a></li>
					<li class="active">酒TV</li>
				</ol>
			</div>
		</div><!-- /.top -->
		<div class="obi-nami-bottom"></div>
		<div class="content page-tv">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="title-info"><img th:src="@{/resources/img/space.gif}" class="title-tv"/></h1>
						<div class="article-title">
							<div id="recommend" class="row"></div>
						</div>
						<hr />
						<div class="row">
							<div id="channel1" class="col-md-4">
								<h4>
									FBOチャンネル
									<span class="pull-right">
										<a href="http://www.youtube.com/channel/UCwh1NeEwdfZ99PHFrz0hcXg" target="_blank">
											<img class="link-list" th:src="@{/resources/img/space.gif}" alt="一覧へ"/>
										</a>
									</span>
								</h4>
								<div class="videos"></div>
							</div>
							<div id="channel2" class="col-md-4">
								<h4>
									Googleチャンネル
									<span class="pull-right">
										<a href="http://www.youtube.com/channel/UCTnRxVUPssiL7H29ON07t_Q" target="_blank">
											<img class="link-list" th:src="@{/resources/img/space.gif}" alt="一覧へ"/>
										</a>
									</span>
								</h4>
								<div class="videos"></div>
							</div>
							<div id="channel3" class="col-md-4">
								<h4>
									Microsoftチャンネル
									<span class="pull-right">
										<a href="http://www.youtube.com/channel/UCASliASL93lb8fdnpFiE3eQ" target="_blank">
											<img class="link-list" th:src="@{/resources/img/space.gif}" alt="一覧へ"/>
										</a>
									</span>
								</h4>
								<div class="videos"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="layout::footer" class="footer"></div><!-- /.footer -->
	</body>
</html>