.title-news,
.title-movie,
.title-sake,
.title-shochu,
.title-enjoy,
.title-sake-enjoy,
.title-shochu-enjoy,
.title-sake-learn,
.title-shochu-learn,
.title-learn,
.title-kura,
.title-pressrelease,
.title-tv,
.title-sitemap,
.title-search {
	background: url('../img/title-en.png') no-repeat top left;
}

.title-kura{ background-position: 0 0; width: 215px; height: 20px; }
.title-media{ background-position: 0 -70px; width: 137px; height: 20px; }
.title-movie{ background-position: 0 -140px; width: 101px; height: 32px; }
.title-news{ background-position: 0 -222px; width: 124px; height: 20px; }
.title-newsivents{ background-position: 0 -292px; width: 208px; height: 20px; }
.title-pressrelease{ background-position: 0 -362px; width: 197px; height: 20px; }
.title-sake{ background-position: 0 -432px; width: 115px; height: 45px; }
.title-sake-enjoy{ background-position: 0 -527px; width: 133px; height: 21px; }
.title-sake-learn{ background-position: 0 -598px; width: 229px; height: 21px; }
.title-saketv{ background-position: 0 -669px; width: 126px; height: 20px; }
.title-search{ background-position: 0 -739px; width: 208px; height: 20px; }
.title-shochu{ background-position: 0 -809px; width: 154px; height: 45px; }
.title-shochu-enjoy{ background-position: 0 -904px; width: 153px; height: 21px; }
.title-shochu-learn{ background-position: 0 -975px; width: 249px; height: 21px; }
.title-sitemap{ background-position: 0 -1046px; width: 163px; height: 20px; }

.link-list {
	background: url('../img/link-list-en.png') no-repeat center center;
	width: 85px;
	height: 20px;
}

.link-detail {
	background: url('../img/link-detail-en.png');
	width: 70px;
	height: 20px;
}