<!DOCTYPE html>
<html th:lang="${#locale.language}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keywords" th:content="${#posts.metaKeywords(page)}" />
		<meta name="description" th:content="${#posts.metaDescription(page)}" />
		<meta name="author" th:content="${#posts.metaAuthor(page)}" />
		<meta property="og:site_name" th:content="${#posts.ogSiteName(page)}"/>
		<meta property="og:title" th:content="${#posts.ogTitle(page)}"/>
		<meta property="og:url" th:content="${#posts.ogUrl(page)}" />
		<meta property="og:image" th:if="${#posts.ogImage(page)}" th:content="${#posts.ogImage(page)}" />
		<meta property="og:type" th:content="${#posts.ogType(page)}"/>
		<title th:text="${#posts.title(page)}"></title>
		<link th:replace="layout::head-link" />
		<script th:replace="layout::head-script"></script>
	</head>
	<body>
		<!-- header -->
		<header th:replace="layout::header"></header><!-- /header -->
		<!-- .top -->
		<div class="top">
			<div class="container">
				<ol class="breadcrumb">
					<li><a th:href="@{/}">TOP</a></li>
					<th:block th:each="bread : ${breadcrumb}">
						<li><a th:href="@{__${WEBSITE_PATH}____${bread.value}__}"><span th:text="${bread.key.title}"></span></a></li>
					</th:block>
					<li class="active" th:text="${page.title}">日本酒の本質</li>
				</ol>
			</div>
		</div><!-- /.top -->
		<div class="obi-nami-bottom"></div>
		<div class="content" th:classappend="${page.parent ne null} ? ${'page-' + PAGE_TREE.getRootNodeByCode(page.code).page.code} : ${'page-' + page.code}">
			<div class="container">
				<div>
					<div class="row">
						<div class="col-md-9 post-content">
							<h1 class="title-category"><img class="title-icon" th:src="@{/resources/img/space.gif}"/><span th:text="${page.title}" th:remove="tag"></span>
								<small th:if="${page.parent ne null}">
									<span th:text="${'-' + page.parent.title + '-'}"></span>
								</small>
							</h1>
							<hr/>
							<div class="row">
								<div class="col-md-12">
									<img th:if="${page.cover ne null}" th:src="@{${#medias.link(page.cover)}(w=1200,h=500,m=1)}" class="post-cover" />
									<div th:utext="${#posts.body(page)}"></div>
								</div>
							</div>
							<!--/*/ <th:block th:if="${PAGE_TREE.getNodeById(page.id) ne null}"> /*/-->
							<div class="row" style="margin-bottom: 15px;" th:unless="${#lists.isEmpty(PAGE_TREE.getNodeById(page.id).children)}" th:each="child : ${PAGE_TREE.getNodeById(page.id).children}">
								<div class="col-md-12 article-title">
									<h3 th:text="${child.page.title}"></h3>
									<div class="clearfix">
										<div class="thumbnail pull-right" th:if="${child.page.cover ne null}" style="margin-left: 15px;">
											<img th:src="@{${#medias.link(child.page.cover)}(w=200,h=130,m=1)}" />
										</div>
										<div th:text="${#posts.summary(child.page, 300)}"></div>
										<a th:href="@{${#posts.path(child.page)}}"><span class="link"><img class="link-detail" th:src="@{/resources/img/space.gif}" alt="詳細ページへ"/></span></a>
									</div>
								</div>
							</div>
							<!--/*/ </th:block> /*/-->
						</div>
						<div class="col-md-3">
							<!-- sidebar -->
							<div class="sidebar">
								<!--/*/ <th:block th:if="${PAGE_TREE.getRootNodeByCode(page.code) ne null}"> /*/-->
								<!-- .sidemenu -->
								<div class="sidemenu">
									<ul id="nav-category" class="nav">
										<li th:each="node : ${PAGE_TREE.getRootNodeByCode(page.code).children}" th:classappend="${node.contains(page) ? 'open' : ''}" class="panel-title">
											<a th:text="${node.page.title}">Page Title</a>
											<ul>
												<li th:each="childNode : ${node.children}" th:classappend="${childNode.contains(page)} ? 'active' : ''"><a th:href="${#posts.path(childNode.page)}" th:text="${childNode.page.title}">Page Title</a></li>
											</ul>
										</li>
									</ul>
								</div>
								<!-- /.sidemenu -->
								<!--/*/ </th:block> /*/-->
								<div th:replace="layout::side-movie"></div>
								<div th:replace="layout::side-banner"></div>
							</div><!-- /sidebar -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="layout::footer" class="footer"></div><!-- /.footer -->
	</body>
</html>