<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" th:replace="layout::head('WallRide')" />
		<title></title>
	</head>
	<body>
		<div id="wrap">
			<div th:replace="layout::nav"></div>
			<img th:if="${article.cover ne null}" th:src="@{${#medias.link(article.cover)}(w=1200,h=500,m=0)}" class="post-cover" />
			<article class="container">
				<div class="page-header">
					<h1 th:text="${article.title}"></h1>
				</div>
				<div class="clearfix">
					<article class="wr-article-page" th:each="postBody, bodyStat : ${article.bodies}">
						<p th:if="${bodyStat.count} == (${page != null}? ${page} : 1)" th:utext="${#posts.body(postBody)}"></p>
					</article>
					<a th:each="postBody, bodyStat : ${article.bodies}"  th:href="@{__${WEBSITE_LINK}____${_PATH}__} + '?page=' + ${bodyStat.count}" th:text="${bodyStat.count}"></a>
				</div>
				<time></time>
			</article>
		</div>
		<div th:replace="layout::footer" id="footer"></div>
	</body>
</html>
