###########################################################
###
### Packages
### packages: 
###   <name of package manager>:
###     <package name>: <version>
### 
### -- example
### packages: 
###   yum:
###     libmemcached: [] 
###     ruby-devel: []
###     gcc: []
###   rpm:
###     epel: http://download.fedoraproject.org/pub/epel/5/i386/epel-release-5-4.noarch.rpm
###   rubygems: 
###     chef: '0.10.2'
###   apt:
###     mysql-client: []
### 
### Sources
### 

container_commands:
  01_mkdir_ssl_dir:
    command: mkdir -p /etc/nginx/ssl
  02_copy_ssl_cert:
    command: cp -f .ebextensions/ssl-cert.pem /etc/nginx/ssl/ssl-cert.pem
  03_copy_ssl_key:
    command: cp -f .ebextensions/ssl-key.pem /etc/nginx/ssl/ssl-key.pem
  04_copy_ssl_patch:
    command: cp -f .ebextensions/ssl.patch /etc/nginx/
  05_patch_ssl_conf:
    command: patch < ssl.patch
    cwd: /etc/nginx/
    ignoreErrors: true
